.ball-hole {
	position: absolute;
	width: 124px;
	left: 13px;
	top: 35px;
	height: 15px;
   border-radius: 50px;
	background-color: black;
}

.position-cell {
   overflow: hidden;
}

/* le conteneur global est l'endroit adéquat dans lequel définir la notion de perspective pour des transformations 3D. Elle est initialisée avec les styles CSS perspective et perspective-origin.*/
.conteneur3d{
   position: relative;
   width: 150px;
   height: 150px;
   margin: 0px auto;
   -webkit-perspective: 2800px;
   -webkit-perspective-origin: 50% 50%;
   -moz-perspective: 2800px;
   -moz-perspective-origin: 50% 50%;
   -o-perspective: 2800px;
   -o-perspective-origin: 50% 50%;
   
   -webkit-transform: scale(0.5);
   -moz-transform: scale(0.5);
   -o-transform: scale(0.5);
   -ms-transform: scale(0.5);
   transform: scale(0.5);
}
/* définir le positionnement des div pour former le cube : */
.face{
	width: 150px;
	height: 150px;
	position: absolute;
	text-align: center;
	opacity: 1;
	border: solid 2px black;
	background-color: mediumblue;
	box-shadow: 0 0 100px 0 rgba(0,0,0,0.6) inset;
}
.light-face {
	/*background-color: lightblue;*/
	box-shadow: 0 0 75px 0 #FFF inset;
}
.cube-title {
   display: inline-block;
   width: 140px;
   font-size: 25px;
   font-family: monospace;
   font-variant: small-caps;
}
.cube-title-site {
   display: inline-block;
   width: 140px;
   font-size: 20px;
   font-family: monospace;
   font-variant: small-caps;
}
.cube-name {
   display: block;
   width: 60px;
   font-size: 18px;
   position: absolute;
   bottom: 22px;
   right: 22px;
}
.cube-face-bottom {
   border: solid 2px black;
   margin: 3px;
   width: 140px;
   height: 140px;
}


.cube-blue .face{
   background-color: mediumblue;
}

.cube-red .face{
   background-color: red;
}

.cube-green .face{
   background-color: limegreen;  /*chartreuse;*/
}

.cube-orange .face{
   background-color: orange;
}

.cube-brown .face{
   background-color: saddlebrown;
}

.cube-yellow .face{
   background-color: yellow;
}

.cube-crystal .face{
   background-color: transparent;
}

.cube-black .face{
   background-color: black;
   color: darkgrey;
}

.cote1{
/*	background-color: silver;*/
	z-index: 10;
   -webkit-transform: translateZ(75px);
   -o-transform: translateZ(75px);
   -moz-transform: translateZ(75px);
   -ms-transform: translateZ(75px);
   transform: translateZ(75px);
}
.cote2{
   -webkit-transform: translateX(75px) rotateY(90deg);
   -o-transform: translateX(75px) rotateY(90deg);
   -moz-transform: translateX(75px) rotateY(90deg);
   -ms-transform: translateX(75px) rotateY(90deg);
   transform: translateX(75px) rotateY(90deg);
}
.cote3{
   -webkit-transform: translateX(-75px) rotateY(-90deg);
   -o-transform: translateX(-75px) rotateY(-90deg);
   -moz-transform: translateX(-75px) rotateY(-90deg);
   -ms-transform: translateX(-75px) rotateY(-90deg);
   transform: translateX(-75px) rotateY(-90deg);
}
.cote4{
   -webkit-transform: translateY(75px) rotateX(-90deg);
   -o-transform: translateY(75px) rotateX(-90deg);
   -moz-transform: translateY(75px) rotateX(-90deg);
   -ms-transform: translateY(75px) rotateX(-90deg);
   transform: translateY(75px) rotateX(-90deg);
}
.cote5{
   -webkit-transform: translateY(-75px) rotateX(90deg);
   -o-transform: translateY(-75px) rotateX(90deg);
   -moz-transform: translateY(-75px) rotateX(90deg);
   -ms-transform: translateY(-75px) rotateX(90deg);
   transform: translateY(-75px) rotateX(90deg);
}
.cote6{
   -webkit-transform: translateZ(-75px) rotateX(180deg) rotateZ(180deg);
   -o-transform: translateZ(-75px) rotateX(180deg) rotateZ(180deg);
   -moz-transform: translateZ(-75px) rotateX(180deg) rotateZ(180deg);
   -ms-transform: translateZ(-75px) rotateX(180deg) rotateZ(180deg);
   transform: translateZ(-75px) rotateX(180deg) rotateZ(180deg);
}

.cube-shadow {
	opacity: 0.6;
   z-index: 1;
   width: 250px;
   height: 250px;
   -webkit-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform: translateX(-50px) translateY(-220px) rotateX(-135deg);
   -o-transform: translateX(-50px) translateY(-200px) rotateX(-135deg);
   -moz-transform: translateX(-50px) translateY(-200px) rotateX(-135deg);
   -ms-transform: translateX(-50px) translateY(-200px) rotateX(-135deg);
   transform: translateX(-50px) translateY(-200px) rotateX(-135deg);
}
.cube-shadow .grid>td{
   border: 3px dotted gray;
   border-collapse: collapse;
   width: 50px;
   height: 50px;
}

.parent{
	z-index: 2;
	position: relative;
	width: 200px;
	height: 200px;
   transform-style: preserve-3d;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   /*§-webkit-transform: translateY(-50px);*/
}

.position_TOP_UP_LEFT .parent {
   -webkit-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-60deg);
   -o-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-60deg);
   -moz-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-60deg);
   -ms-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-60deg);
   transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-60deg);
}
.position_TOP_DOWN_LEFT .parent {
   -webkit-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-15deg);
   -o-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-15deg);
   -moz-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-15deg);
   -ms-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-15deg);
   transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(-15deg);
}
.position_TOP_UP_RIGHT .parent {
   -webkit-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-60deg);
   -o-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-60deg);
   -moz-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-60deg);
   -ms-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-60deg);
   transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-60deg);
}
.position_TOP_DOWN_RIGHT .parent {
   -webkit-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-15deg);
   -o-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-15deg);
   -moz-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-15deg);
   -ms-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-15deg);
   transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(-15deg);
}
.position_BOTTOM_UP_LEFT .parent {
   -webkit-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(165deg);
   -o-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(165deg);
   -moz-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(165deg);
   -ms-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(165deg);
   transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(165deg);
}
.position_BOTTOM_DOWN_LEFT .parent {
   -webkit-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(120deg);
   -o-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(120deg);
   -moz-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(120deg);
   -ms-transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(120deg);
   transform: translateY(-35px) rotateZ(15deg) rotateY(15deg) rotateX(120deg);
}
.position_BOTTOM_DOWN_RIGHT .parent {
   -webkit-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(120deg);
   -o-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(120deg);
   -moz-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(120deg);
   -ms-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(120deg);
   transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(120deg);
}
.position_BOTTOM_UP_RIGHT .parent {
   -webkit-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(165deg);
   -o-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(165deg);
   -moz-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(165deg);
   -ms-transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(165deg);
   transform: translateY(-35px) rotateZ(-15deg) rotateY(-15deg) rotateX(165deg);
}