body {
	background-color: #ffffff;
}

.route-menu {
	height: 3.5em;
	top: 0;
	left: 0;
	position: absolute;
	margin: 0;
}

.main-content {
	top: 3.5em;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow: auto;
	margin: 0;
}

/* Message */
.message {
	position: absolute;
	top: 1.7em;
	right: 0;
	z-index: 11;
}

.message section {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0.5em;
	padding-left: 2em;
	margin-bottom: 0.2em;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.6);
}

.message .info {
	box-shadow:	-4px 0px 6px 0px #84eaf6;
}

.message .success {
	box-shadow:	-4px 0px 6px 0px #59d86c;
}

.message .error {
	box-shadow:	-4px 0px 6px 0px #f68484;
}

/* Route Menu */
.route-menu-item {
	display: inline-block;
	cursor: pointer;
	color: #fff;
	background-color: #000;

	padding: 1em;
	margin-left: 1em;
}
.route-menu-item:hover {
	color: #ff0;
}
.route-menu-item.active {
	background-color: #f3a023;
}

.route-menu-item.about {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.9em;
	padding-right: 0.9em;
	border-radius: 5em;
	margin-left: 2em;
}

/* Import / Export */

.field-import-export {
	width: 50%;
	margin-left: 0;
	margin-right: 0;
	float: left;
}

.field-import-export fieldset {
	border-color: #0033ff;
}

.field-import-export textarea {
	height: 100px;
	width: 100%;
	display: block;
}

/* Cube Builder */

.cube-builder-section, .cube-info-section {
	width: 50%;
	margin-left: 0;
	margin-right: 0;
	float: left;
	height: 100%;
	overflow: auto;
}

.level-editor {
	margin-bottom: 1em;
}

.constructor-table {
	border-collapse: collapse;
	box-shadow:	4px 4px 16px 0 #000;
}

.cell-main-hole, .cell-main-fill {
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
}

.cell-wall {
	height: 5px;
	width: 5px;
}

.cell-wallR-hole, .cell-wallR-fill {
	width: 5px;
	height: 20px;
	cursor: pointer;
}

.cell-wallD-hole, .cell-wallD-fill {
	width: 20px;
	height: 5px;
	cursor: pointer;
}

.cell-main-fill, .cell-wallR-hole, .cell-wallD-hole, .cell-none {
	background-color: rgb(50, 150, 200);
}
.cell-main-hole {
	background-color: rgb(20, 70, 90);
	box-shadow: inset 0px 0px 10px 2px rgb(50, 150, 200);
}
.cell-wall, .cell-wallR-fill, .cell-wallD-fill {
	background-color: rgb(0, 0, 0);	
}

.accessible-path {
	box-shadow: inset 0px 0px 23px 0px rgb(40, 180, 220);
}

.info, .finish-yes, .finish-no {
	margin-left: 1em;
	margin-top: 0.5em;
	display: block;
}

.noInfo {
	display: none;
}

.finish-yes, .finish-no {
	font-size: x-large;
	margin-top: 1em;
}

.finish-yes:before {
	content: '✓';
	color: rgb(25, 125, 25);
}

.finish-no:before {
	content: '✗';
	color: rgb(190, 25, 25);
}

/* Analyzer */
.analyze-step2>.label {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 1em;
}

.analyze-step2 section {
	margin: 0;
	width: 50%;
	float: left;
}

.analyze-step2 .locate-by-euristic table {
	border-collapse: collapse;
	border: 1px solid black;
}

.analyze-step2 .locate-by-euristic td {
	border: 1px solid black;
}

/* Ball locater */
.BallLocater-result {
	min-width: 15em;
}

.BallLocater-result label {
	display: block;
}

/* Languages */
.set-languages {
	position: absolute;
	top: 1em;
	right: 1em;

	cursor: pointer;
	z-index: 10;
}

.set-languages .item:hover {
	background-color: #CC0;
}

/* About */
.about-section {
	margin-top: 1em;
	padding: 1em;
	display: block;
	box-shadow: 0px 1em 1em -0.5em black;
}

.about-section > summary{
	padding: 0.2em;
	display: block;
	background-color: black;
	color: white;
}

.faq-item{
	margin-top: 0.9em;
	display: block;
	box-shadow: 0px 0.5em 0.5em -0.3em darkgrey;
}

.faq-question{
	font-weight: bold;
	display: block;
}

.faq-answer{
	font-style: italic;
	color: darkgrey();
}
