@font-face{
	font-family: fontAwesome;
	src: url('../fonts/fontawesome-webfont.woff');
}

body {
	background-color: #ffffff;
}

summary {
	cursor: pointer;
}

.font-awesome {
	font-family: fontAwesome;
}

.hidden {
	display: none;
}

.disabled {
	color: #666;
	font-style: italic;
}

.route-menu {
	height: 3.5em;
	top: 0;
	left: 0;
	right: 100px;
	position: absolute;
	margin: 0;
}

.main-content {
	top: 3.5em;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow: auto;
	margin: 0;
}

/* Message */
.message {
	position: absolute;
	top: 1.7em;
	right: 0;
	z-index: 11;
}

.message section {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0.5em;
	padding-left: 2em;
	margin-bottom: 0.2em;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.6);
}

.message .info {
	box-shadow:	-4px 0px 6px 0px #84eaf6;
	background-color: rgba(240, 250, 255, 0.6);
}

.message .success {
	box-shadow:	-4px 0px 6px 0px #59d86c;
	background-color: rgba(240, 255, 240, 0.6);
}

.message .warning {
	box-shadow:	-4px 0px 6px 0px #e9d86c;
	background-color: rgba(255, 250, 240, 0.6);
}

.message .error {
	box-shadow:	-4px 0px 6px 0px #f68484;
	background-color: rgba(255, 240, 240, 0.6);
}

/* Route Menu */
.route-menu-item {
	display: inline-block;
	cursor: pointer;
	color: #fff;
	background-color: #000;

	padding: 1em;
	margin-left: 1em;
}
.route-menu-item:hover {
	color: #ff0;
}
.route-menu-item.active {
	background-color: #f3a023;
}

.route-menu-item.about {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.9em;
	padding-right: 0.9em;
	border-radius: 5em;
	margin-left: 2em;
}

.route-menu-item.cubeFilter {
	margin-top: 1.7em;
	padding: 0.5em;
	float: right;

	background-color: #02e;
	font-weight: bold;
	font-size: 0.7em;
	box-shadow: 0.3em 0.3em 0 0 #015;
}

/* Import / Export */

.field-import-export {
	width: 50%;
	margin-left: 0;
	margin-right: 0;
	float: left;
}

.field-import-export fieldset {
	border-color: #0033ff;
}

.field-import-export textarea {
	height: 100px;
	width: 100%;
	display: block;
}

/* Cube Generator */

.generator-menu {
	position: absolute;
	left: 0;
	width: 300px;
	top: 10px;
	height: 50px;
	text-align: center;
}

.generator-level-selector {
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 0;
	overflow: auto;
}

.generator-level-selector select[multiple] {
	min-height: 12em;
}

.generator-information {
	position: absolute;
	top: 10px;
	height: 50px;
	left: 300px;
	right: 0;
	padding: 0.5em;
	text-align: center;
}

.generator-information div{
	display: inline-block;
}

.generator-research-status {
	position: absolute;
	top: 10px;
	height: 50px;
	left: 300px;
	right: 175px;
	padding: 0.5em;
	text-align: center;
}

.generator-research-status progress {
	width: 300px;
}

.generator-research-status progress+label {
	display: inline-block;
	position: relative;
	left: -300px;
	width: 300px;
}

.generator-research-status button {
	position: relative;
	left: -280px;
}

.generator-research-status div {
	position: relative;
	left: -150px;
}

.generator-cube-solution {
	position: absolute;
	left: 0;
	right: 175px;
	top: 60px;
	bottom: 0;
	overflow: auto;
}

.generator-cube-details {
	position: absolute;
	width: 150px;
	right: 0;
	top: 1em;
	bottom: 0;
	overflow: auto;
}

.cube-generated {
	display: inline-block;
	width: 150px;
	padding: 20px;
	box-shadow: 0px 6px 10px 0px #7f7f7f;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
}

.cube-generated.box-active {
	box-shadow: 0px 6px 15px 0px #afaf3f;
}

.cube-generated meter {
	display: block;
	width: 100%;
}

.cube-generated input[type="checkbox"] {
	width: 15px;
}
.cube-generated input[type="text"] {
	width: 110px;
}

/* Cube Builder */

.cube-header-section {
	width: 99%;
	padding: 0.5em;
	float: right;
}

.cube-main-section {
	position: absolute;
	bottom: 0;
	top: 100px;

	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.cube-builder-section, .cube-info-section {
	width: 50%;
	margin-left: 0;
	margin-right: 0;
	float: left;
	height: 100%;
	overflow: auto;
}

.cube-builder-section .lid-level-option {
	margin-left: 1em;
}

.cube-minimap-section {
	position: absolute;
	bottom: 0;
	right: 0;

	padding: 1em;

	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 20px 5px;
}

.cube-minimap-section.hide {
	display: none;
}

.cube-minimap-section.show~.cube-maximize-minimap-btn {
	display: none;
}

.cube-maximize-minimap-btn {
	position: absolute;
	bottom: 0;
	right: 0;

	padding: 0.5em;

	box-shadow: 0 0 20px 5px;
	font-family: fontAwesome;

	cursor: pointer;
}

.cube-minimap-section .tool label {
	display: inline-block;
}

.cube-minimap-section .mini-map {
	display: inline-block;
	cursor: pointer;
}

.tool .reduce-btn {
	float: right;
	font-family: fontAwesome;
	cursor: pointer;
}

.cube-header-field .selected {
	background-color: #EFEF8A;
}

#maps-preview .mini-map {
	display: inline-block;
}

#maps-preview * {
	cursor: initial;
}

.cube-header-field {
	float: left;
	padding: 1em;
}

.level-editor {
	margin-bottom: 1em;
	padding-left: 1em;
}

.constructor-table {
	border-collapse: collapse;
	box-shadow:	4px 4px 16px 0 #000;
}

.cell-main-hole, .cell-main-fill {
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
	font-family: 'fontAwesome';
}

.cell-wall {
	height: 5px;
	width: 5px;
}

.cell-wallR-hole, .cell-wallR-fill {
	width: 5px;
	height: 20px;
	cursor: pointer;
}

.cell-wallD-hole, .cell-wallD-fill {
	width: 20px;
	height: 5px;
	cursor: pointer;
}

.short-path:before {
	content: '\f1db'; /* thin circle */
	font-family: fontAwesome;
	color: rgba(255, 255, 0, 0.6);
}

.cell-main-hole:before {
	content: '\f111'; /* ⬤ */
	font-family: fontAwesome;
}
.cell-wall, .cell-wallR-fill, .cell-wallD-fill {
	background-color: rgb(0, 0, 0);	
}

.accessible-path {
	background-color: rgba(255, 255, 255, 0.25);
}

.info, .finish-yes, .finish-no {
	margin-left: 1em;
	margin-top: 0.5em;
	display: block;
}

.noInfo {
	display: none;
}

.finish-yes, .finish-no {
	font-size: x-large;
	margin-top: 1em;
}

.finish-yes:before {
	content: '✓';
	color: rgb(25, 125, 25);
}

.finish-no:before {
	content: '✗';
	color: rgb(190, 25, 25);
}

/* Mini map */
.mini-map {
	border-collapse: separate;
	border-spacing: 0px;

	border: 1px solid black;

	color: rgba(0,0,0,0.6);
	font-weight: bold;
	text-align: center;
}
.mini-map td{
	width: 12px;
	height: 12px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	font-size: 10px;
	padding: 2px;
}
.mini-map td:not(.unavailable){
	cursor: pointer;
}
.mini-map td:not(.unavailable):hover{
	background-color: rgba(255, 255, 255, 0.5);
}
.mini-map .unavailable {
	background-color: rgba(0, 0, 0, 0.6);
}
.mini-map td.unavailable {
	border-color: transparent;
}
.mini-map .hole:before {
	content: '\f111'; /* ⬤ */
	font-family: fontAwesome;
}
.mini-map .passage-down {
	border-bottom: none;
	padding-bottom: 3px;
}
.mini-map .passage-right {
	border-right: none;
	padding-right: 3px;
}
.mini-map .passage-up {
	border-top: none;
	padding-top: 3px;
}
.mini-map .passage-left {
	border-left: none;
	padding-left: 3px;
}
.mini-map .start-cell:before {
	content: 'S';
}
.mini-map .end-cell:before {
	content: 'F';
}
.mini-map .pin:before {
	content: '\f077'; /* ^ */
	font-family: fontAwesome;
}
.mini-map .pin-top:before {
	content: '\f078'; /* v */
	font-family: fontAwesome;
}

.mini-map .possible-location,
.mini-map .movement-location {
	background-color: rgba(255, 255, 255, 0.3);
}
.mini-map .possible-location:after {
	content: '\f128'; /* ? */
	font-family: fontAwesome;
}

.analyze-step3 .mini-map .movement-location:after {
	content: '\f1db'; /* thin circle */
	font-family: fontAwesome;
	font-size: 0.7em;
}

.analyze-step3 .mini-map .movement-location.movement-start:after {
	content: '\f183'; /* man */
	font-family: fontAwesome;
	font-size: 1em;
}

.analyze-step3 .mini-map .movement-location.movement-end:after {
	content: '\f1ae'; /* happy man */
	font-family: fontAwesome;
	font-size: 1.1em;
}

/* Analyzer */
.analyze-step2>.label {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 1em;
}

.analyze-step2>section {
	margin: 0;
	width: 50%;
	float: left;
	overflow-y: auto;
	max-height: 500px;
}

.analyze-step2 .locate-by-euristic table {
	border-collapse: collapse;
	border: 1px solid black;
}

.analyze-step2 .locate-by-euristic td {
	border: 1px solid black;
}

.analyze-step2 figure,
.analyze-step3 figure {
	display: inline-block;
	margin: 1em;
}

.analyze-step2 .configuration {
	display: inline-block;
	background-color: #FFA;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 2em;
}

/* Ball locater */
.BallLocater-result {
	min-width: 15em;
}

.BallLocater-result label {
	display: block;
}

.mvt-summary {
	display: block;
	float: right;
	font-size: 20px;
	width: 1.8em;
	height: 1.5em;
	text-align: center;
	box-shadow: -4px 4px 4px black;
	margin-left: 8px;
}

.instructions-summary {
	margin-top: 1em;
	margin-bottom: 1em;
	box-shadow: 0 6px 6px black;
	display: block;
}
.instructions-summary summary {
	padding-left: 0.5em;
}
.instructions-summary p {
	padding-left: 1em;
}

/* Dialog */
dialog.dialog-cube-position {
	width: 50%;
	min-width: 29.5em;
}

dialog.dialog-cube-position > header {
	font-size: x-large;
	text-align: center;
	background-color: gray;
}

dialog.dialog-cube-position > footer > * {
	float: right;
	margin-right: 2em;
}

dialog.dialog-cube-position > .body-cube-position {
	display: block;
	position: relative;
	width: 100%;
	min-height: 10em;
}

.form-cube-position {
	display: block;
	position: absolute;
	left: 0;
	right: 200px;
	overflow: auto;
}

.form-cube-position > .title-cube-position {
	display: block;
	margin-top: 1em;
}

.preview-cube-position {
	display: block;
	position: absolute;
	width: 200px;
	right: 0;
	overflow: hidden;
}

.cube-remover .disabled {
	margin-left: 1.2em;
}

/* Languages */
.set-languages {
	position: absolute;
	top: 1em;
	right: 1em;

	cursor: pointer;
	z-index: 10;
}

.set-languages .item:hover {
	background-color: #CC0;
}

/* About */
.about-section {
	margin-top: 1em;
	padding: 1em;
	display: block;
	box-shadow: 0px 1em 1em -0.5em black;
	font-family: fontAwesome;
}

.about-section > summary{
	padding: 0.2em;
	display: block;
	background-color: black;
	color: white;
}

.faq-item{
	margin-top: 0.9em;
	display: block;
	box-shadow: 0px 0.5em 0.5em -0.3em darkgrey;
}

.faq-question{
	font-weight: bold;
	display: block;
}

.faq-answer{
	font-style: italic;
	color: darkgrey();
}

/* Start page */
img.start-main {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
